Source: imx6-config
Section: unknown
Priority: optional
Maintainer: unknown <unknown>
Build-Depends: debhelper (>= 8.0.0), dh-exec
Standards-Version: 3.9.4
Homepage: http://www.solid-run.com/community/topic1745.html
Vcs-Git: https://github.com/mxOBS/deb-pkg_cuboxi-config.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_cuboxi-config

Package: imx6-config
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends},
 fbi, build-essential, rsync, lsb-release,
 util-linux, grep, sed, coreutils, parted, e2fsprogs,
Description: Configuration tool for Cubox-i and Hummingboard
 Provides an intuitive and easy user-interface to many configuration options
 that are available on Cubox-i and Hummingboard devices, as well as fully
 automated installation of selected applications.
